<!--<div class="kiosk-shell">-->
<!--  <div class="mic-container">-->
<!--    <button class="mic-button" (click)="onMicTap()">-->
<!--      🎤-->
<!--    </button>-->
<!--    <div class="mic-label">Tap to speak</div>-->
<!--  </div>-->

<!--  <div class="transcript-container">-->
<!--    <label>Transcript</label>-->
<!--    <textarea-->
<!--      [value]="transcript"-->
<!--      readonly-->
<!--      rows="6"-->
<!--      class="transcript-box"-->
<!--    ></textarea>-->
<!--  </div>-->
<!--</div>-->

<router-outlet></router-outlet>
